<h1>
    I am from temp view folder 
</h1>
@*Single line razor syntax*@
<h2>@DateTime.Now</h2>

<h3>
    @*For multiline*@
    @{
        if(100==100)
        {
           <p>Its True</p>
        }
    }
</h3>