@model BookModel
@{
    string selecteddesc = "Not Known";
}
<div class="container">
    <h3 class="display-4">Add New Book</h3>
    @if (ViewBag.SuccessProp == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hi User</strong>Successfully Book Added
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    
    @*Using asp-action because our action method name is different , not the same for which this view have been created *@
    <form method="post">
        
        @*For validation summary*@
        @* <div asp-validation-summary="All" class="text-danger"> *@
        <div asp-validation-summary="ModelOnly" class="text-danger">
        @* <div asp-validation-summary="All" class="text-danger"> *@



        </div>
        @*After using asp-for all property of above model will automatically availiable over here*@

         <div class="form-group">
            <label asp-for="CustomField"></label>
            <input asp-for="CustomField" class="form-control" />
            @*To display validation error message*@
            <span asp-validation-for="CustomField" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BookTitle"></label>
            <input asp-for="BookTitle" class="form-control" />
            @*To display validation error message*@
            <span asp-validation-for="BookTitle" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="BookAuthor"></label>
            <input asp-for="BookAuthor" class="form-control" />
            <span asp-validation-for="BookAuthor" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="NoOfPages"></label>
            <input asp-for="NoOfPages" class="form-control" />
            <span asp-validation-for="NoOfPages" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="Bookdesc"></label>
            @*because of this asp-items tag optional will generate automatically*@
            @* <select asp-for="Bookdesc" class="form-control" asp-items="new SelectList(@ViewBag.bookdesc, selecteddesc)"></select> *@

                @*This is also possible to pass list when u are select list inside a method which is in controller*@
            <select asp-for="Bookdesc" class="form-control" asp-items="@ViewBag.BookDescrpt">
                </select>   
            <span asp-validation-for="Bookdesc" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="BookLanaguage"></label>
            @*This required is for html side validation*@
            <select asp-for="BookLanaguage" class="form-control" required>
                <option value=""></option>
                @*during form submit in db CplusPlus will get saved as a value and on UI CPP will get displayed*@
                <option value="CplusPlus">CPP</option>
                <option>Java</option>
                <option>Python</option>
                @*After writing selected by default , It means this value will get selected bydefault*@
                @* <option selected>Dotnet</option> *@
            </select>
            <span asp-validation-for="BookLanaguage" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label asp-for="CreatedDate"></label>
            <input asp-for="CreatedDate" type="date" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UpdatedDate"></label>
            <input asp-for="UpdatedDate" type="date" class="form-control" />
            <span asp-validation-for="UpdatedDate" class="text-danger"></span>
        </div>


        <div class="form-group">
            <input type="submit" value="Add Book" class="btn btn-primary"/>
        </div>
    </form>
</div>
