@{
    Layout = "_Layout";
}

<section cite="jumbotron text-center">
    <div class="container" style="text-align:center">
        <h1>@ViewData["prop1"]</h1>
        <p class="lead text-muted">
            BookNest is your digital haven for discovering, collecting, and enjoying books. Whether you're into timeless classics, indie gems, or trending titles, BookNest offers a personalized, cozy experience where every reader can feel at home. Build your bookshelf, join book circles, and nest in with stories that matter.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Book By Name</a>
        </p>
    </div>
</section>


<div class="container my-5">
    @* <h3 class="h3">Top Books</h3> *@
    @*Basically I wanna replace this big tag to h3 tag for which it needs to override*@
    <big>Top Books</big>
    <h3 big>Top Books from attribute</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4">
       
        @*First way to render View Component*@
        @await Component.InvokeAsync("TopBooks")

        @*Second way to render view component*@
        <vc:TopBooks></vc:TopBooks>

        <!-- Card 1 -->
        <div class="col">
            <div class="card h-100">
                @* <partial name="_bookthumbnail"></partial> *@
                @Html.Partial("_bookthumbnail")
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col">
            <div class="card h-100">
                <partial name="_bookthumbnail"></partial>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col">
            <div class="card h-100">
                <partial name="_bookthumbnail"></partial>

            </div>
        </div>

    </div>
</div>

@section jquerysec
{
    <script>
        $(document).ready(function(){
            //alert("Alert from Index view file")
        });
    </script>
}
