<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookNest Application</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="text-align:center">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" style="margin-left:187px !important">
                    <a class="navbar-brand" href="/">BookNest</a>
                    <a class="nav-item nav-link active" href="#">Home</a>
                    <a class="nav-item nav-link" href="/Home/About">About</a>
                    <a class="nav-item nav-link" href="/Home/Contact">Contact</a>
                    <a class="nav-item nav-link" href="/Book/GetAllBookData">All Books</a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
   
</body>
</html>
